snippet html5
	<!DOCTYPE html>

	<html lang="en">
	<head>
	  <meta charset="UTF-8">

	  <title></title>

	  <link rel="stylesheet" media="screen" href="style.css">

	  <style media="screen">
	    /* Feuille de styles interne */
	  </style>

	  <script src="script.js"></script>

	  <script>
	    // Script interne
	  </script>

	  <meta name="description" content="">
	</head>
	<body>

	<!-- Document -->

	</body>
	</html>
